.contact__layout .content {
  padding: 3rem 1.5rem 3rem 0;
}

.contact__layout .content iframe {
  width: 100%;
  height: -webkit-calc(100vh - 22rem);
  height: calc(100vh - 22rem);
}

.contact__layout .content p {
  color: #fff;
}

.contact__layout .content h2 {
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.contact__layout .content .contact_info__2TPT2 p a:active,
.contact__layout .content .contact_info__2TPT2 p a:hover {
  color: #ffb41a;
}

a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

a:hover {
  color: #ffc745;
}

@media (max-width: 1200px) {
  .contact__layout .content {
    padding: 6rem 0 3rem;
  }
}
