.header {
  height: 6rem;
  background: #000;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  padding: 1.5rem 0;
}

.d-flex {
  display: flex;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 3rem;
  margin-bottom: 0;
}

.nav__list li {
  display: flex;
  align-items: center;
  padding: 0 3.5rem;
  height: 100%;
}

.nav__list a {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  -webkit-text-decoration-skip: objects;
}

.nav__list a:hover {
  color: #ffb41a;
  text-shadow: 0 0 10px rgb(255 180 26 / 90%);
}

.cart {
  position: relative;
  font-size: 1.8rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__item-totalcart {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 0.8rem;
}
